@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< JTMaher2.Modules.JTM2_PasswordManager.Models.Password >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    @if (Model.Count() == 0)
    {
        <p>@Dnn.LocalizeString("NoPasswords")</p>
    }
    else
    {
        <ul class="tm_tl">
            @foreach (var password in Model)
            {
                <li class="tm_t">
                    <h3>@password.PasswordSite</h3>
                    <div class="tm_td">@password.PasswordPlainText</div>
                    <div class="tm_td">@password.PasswordUrl</div>
                    <div class="tm_td">@password.PasswordNotes</div>
                    @{
                        if (Dnn.ModuleContext.IsEditable)
                        {
                            <div>
                                <a href="@Url.Action("Edit", "Password", new {ctl = "Edit", passwordId = password.PasswordId})">@Dnn.LocalizeString("EditPassword")</a>
                                <a href="@Url.Action("Delete", "Password", new {passwordId = password.PasswordId})">@Dnn.LocalizeString("DeletePassword")</a>
                            </div>
                        }
                    }
                </li>
            }
        </ul>
    }
</div>
